body {
    background: #ffffff;
}

.notice {
    margin: 20px;
    border: green 1px solid;
    color: green;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.error {
    margin: 20px;
    border: red 1px solid;
    color: red;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.post_wrapper {
    font-size: 12px;
    border: 1px solid #efefef;
    margin: 20px;
}

.post_title {
    width: 300px;
    margin: 5px;
}

.post_author {
    margin: 10px;
    font-weight: bold;

}

.post_favorites {
    margin: 10px;
    font-weight: bold;

}

.post_date {
    margin: 10px;
    font-weight: bold;
}

.post_image {
    background: #efefef;
    text-align: center;
    height: 140px;
}

.post_thumb {
    width: 140px;
    height: auto;
}

.page_wrapper {
    font-size: 16px;
    border: 1px solid #efefef;
    margin: 20px;
}

.page_title {
    margin: 20px;
}

.page_author {
    margin: 20px;
    font-weight: bold;
}

.page_date {
    margin: 20px;
    text-align: right;
    font-weight: bold;
}

.page_image {
    background: #efefef;
    text-align: center;
    height: 400px;
}

.page_thumb {
    width: auto;
    height: 400px;
}

.page_favorite {
    margin: 20px;

}

.page_favorites {
    margin: 10px;
    font-weight: bold;
}

.footer-wrapper{
    background: #1d2124;
    margin-top: 100px ;
}

.my-footer{
    margin: 10px;
    color: #FFFFFF;
}

