{% extends 'base.html.twig' %}

{% block title %}Ошибка{% endblock %}
{% block content %}
    <h1>Произошла ошибка</h1>
    {% for message in app.flashes('error') %}
        <div class="error">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
