{% extends 'base.html.twig' %}

{% block title %}My Favorites{% endblock %}

{% block content %}
    <h5>My Favorites</h5>
    <div class="row">
    {% if posts is not empty %}
        {% for post in posts %}
            <div class="col-3">
                <div class="post_wrapper">
                    <div class="post_title">
                        <a href="{{ path('get-post', {'name': post.name}) }}">{{ post.title | truncate(30) }}</a>
                    </div>
                    <div class="post_image">
                        <img class="post_thumb" src="{{ post.thumbnail }}">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="post_favorites">
                                <i class="far fa-heart"
                                   aria-hidden="false"></i> {{ post.subscriber[1] }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="post_date">
                                {{ post.createdAt }}
                            </div>
                        </div>
                    </div>

                    <div class="post_author">
                        {{ post.author }}
                    </div>
                </div>

            </div>

        {% endfor %}


        </div>
        <div class="navigation">
            {{ knp_pagination_render(posts) }}
        </div>

    {% endif %}
{% endblock %}
