{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="row">
        {% if post %}
            <div class="col-10 mx-auto">
                <div class="page_wrapper">
                    <div class="page_title">
                        {{ post.author }}
                    </div>
                    <div class="page_image">
                        <img class="page_thumb" src="{{ post.image }}">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="page_favorites">
                                <i class="far fa-heart"
                                   aria-hidden="false"></i> {{ post.subscriber[1] }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="page_date">
                                {{ post.createdAt }}
                            </div>
                        </div>
                    </div>

                    <div class="page_author">
                        {{ post.title }}
                    </div>
                    {% if is_granted("ROLE_USER") %}
                        <div class="page_favorite">
                            <a href="{{ path('add-favorites',{ 'post_id' : post.name}) }}" class="btn btn-success">Add favorites</a>
                        </div>
                    {% endif %}


                </div>
            </div>
        {% endif %}

    </div>


{% endblock %}
