{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block content %}
    <h3>Profile:</h3>
    <div class="pt-1"><i class="fas fa-envelope"></i>: {{ user.username }}</div>

{% endblock %}
